.mat-grid-tile
{
    border-radius: 15px;
    background-color: #339dab;
}
.TileInfo
{
    font-size: 12px;
    align-items: center;
    
}
.TileContainer
{
    align-items: center;
    text-align: center;

}
