<body>
    <div class="mainContainer">
<div>
    <a class="locationName">{{cabinJson.Location}}</a>
    <br><br><br>
</div>
<div>
    <button mat-button="" class="starRating">{{cabinJson.StarRating}}<mat-icon class="star" >star</mat-icon></button>
    <img src="{{cabinJson.Image}}" height="450px" class="image" >
</div>
<div class="purchaseCard">
    <br><br>
    <span>
    ${{cabinJson.Price}} CAD per Night 
    </span>
    <br><br>
    Number of guests 
        <input
            mdInput
            type="number"
            id="myNumber"
        />
    <div>
       <!-- <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->
    </div>
    <button mat-raised-button color="accent" class="reserveBtn">Reserve</button>
    <p>Price per night x number of nights</p>
    <p>Total price: $XY.XY</p>

</div>
<div class="cabinInformation">
    {{cabinJson.Full}}
</div>
</div>
</body>