<div class="container">
        
  <mat-card class="container-card"  *ngFor="let tile of cabins" (click)="tileClicked(tile)">
    <img class="image" mat-card-image=""src="{{tile.Image}}" >
    
    <mat-card-content style="margin-top: 10px;">
      <strong class="location">  {{tile.Location}}</strong> <br>
      <span class="description">{{tile.Desc}}</span>
    </mat-card-content>
    <button mat-button="" class="starRating">{{tile.StarRating}}<mat-icon style="color: #fffd6e; height: 5px; padding-top: 10px; padding-bottom: 25px; margin-right: 3px;" >star</mat-icon></button>

    <mat-card-actions align="end" style="margin-top: -31%; margin-left: 50%;">
      <div class="price"><strong class="priceNumber">${{tile.Price}}</strong><br> Per Night </div>            
    </mat-card-actions>
  </mat-card>
</div>
